// big button

.big-button {
    background: $purple;
    border: none;
    border-bottom: 0.6rem solid darken($purple, 10%);
    color: white;
    font-weight: bold;
    font-size:  $l-size;
    width: 100%;
    margin-bottom: $m-size;
    padding: 2.4rem;
    transition: 200ms ease-in-out;
}

.big-button:hover {
    background: lighten($purple, 5%);
}


.big-button:disabled {
    opacity: 0.5;
}

.big-button:disabled:hover {
    opacity: 0.5;
    background: $purple;
}


// button

.button {
    background: $purple;
    border: none;
    border-bottom: 0.3em solid darken($purple, 10%);
    color: white;
    font-weight: 500;
    padding: $s-size;
    transition: 200ms ease-in-out;
}

.button:hover {
    background: lighten($purple, 5%);
}

.button--link {
    background: none;
    border: none;
    color: $off-white;
    padding: 0;
    transition: 200ms ease-in-out;
}

.button--link:hover {
    color: white;
}


@media (min-width: $desktop-breakpoint) {
    .big-button {
        margin-bottom: $xl-size;
    }
}